<h1>Is this a Pokemon or Digimon?</h1>
<p>
<img src="https://lh5.googleusercontent.com/-8YJWBW-O598/AAAAAAAAAAI/AAAAAAAAADI/zKMrTs-B4uk/photo.jpg"/>
</p>
<p>gdgdgdg</p>
<%= form_tag ("http://workersandbox.mturk.com/mturk/externalSubmit", :method => "post") do |form| -%>
	<p><%= radio_button_tag "pokemon", "Pokemon" %> Pokemon</p>
	<p><%= radio_button_tag "digimon", "Digimon" %> Digimon</p>
	<% hidden_field_tag 'assignmentId', @assignment_id %>
    <% hidden_field_tag 'hitId', @hit_id %>
	<%= submit_tag("Submit") %>
<% end %>